@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active {
  color: #111111 !important;
  font-weight: bold;
  translate: 0 -5px;
}
li.nav-item {
  padding: 1px 40px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background: rgb(216, 174, 97);
  background: -moz-linear-gradient(
    90deg,
    rgba(216, 174, 97, 1) 0%,
    rgba(158, 125, 63, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(216, 174, 97, 1) 0%,
    rgba(158, 125, 63, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(216, 174, 97, 1) 0%,
    rgba(158, 125, 63, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8ae61",endColorstr="#9e7d3f",GradientType=1);
  /* background: rgb(205, 145, 0);
  background: -moz-radial-gradient(
    circle,
    rgba(205, 145, 0, 1) 0%,
    rgba(216, 174, 97, 1) 100%,
    rgba(32, 36, 0, 0.2839986336331407) 100%,
    rgba(216, 174, 97, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(205, 145, 0, 1) 0%,
    rgba(216, 174, 97, 1) 100%,
    rgba(32, 36, 0, 0.2839986336331407) 100%,
    rgba(216, 174, 97, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(205, 145, 0, 1) 0%,
    rgba(216, 174, 97, 1) 100%,
    rgba(32, 36, 0, 0.2839986336331407) 100%,
    rgba(216, 174, 97, 1) 100%
  ); */
}

.btn_gradient {
  background: rgb(205, 145, 0);
  background: -moz-radial-gradient(
    circle,
    rgba(205, 145, 0, 1) 0%,
    rgba(216, 174, 97, 1) 100%,
    rgba(32, 36, 0, 0.2839986336331407) 100%,
    rgba(216, 174, 97, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(205, 145, 0, 1) 0%,
    rgba(216, 174, 97, 1) 100%,
    rgba(32, 36, 0, 0.2839986336331407) 100%,
    rgba(216, 174, 97, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(205, 145, 0, 1) 0%,
    rgba(216, 174, 97, 1) 100%,
    rgba(32, 36, 0, 0.2839986336331407) 100%,
    rgba(216, 174, 97, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd9100",endColorstr="#d8ae61",GradientType=1);
}

nav.navbar.navBar.navbar-expand-lg.navbar-dark.bg-dark.justify-content-between.p-4.pt-3 {
  background: transparent !important;
}

li.nav-item:hover {
  translate: 0 -5px;
  font-weight: bolder;
}

.underline_rem:hover,
.underline_rem {
  color: white;
  text-decoration: none !important;
}
.underline_rem {
  text-decoration: none;
}
.inherit {
  color: inherit;
}
.nav_left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Great Vibes", cursive;
}

.rotate_20 {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  font-size: 25px !important;
}
.nav_right {
  align-items: center;
  display: flex;
  margin: auto;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.background {
  /* background-image: url("../src/images/backgroundNew.jpg"); */
  background-image: url("../src/images/Animated_Shape.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: aliceblue;
  padding: 2.5rem;
  width: 100%;
  min-height: 100vh;
}

.errorText {
  font-size: 16px;
  color: #cacacab3;
  font-weight: initial;
  text-transform: capitalize;
}

.error_container {
  margin-top: 8rem !important;
  margin-bottom: 4rem !important;
}

.divider {
  border-block-start-color: #212425 !important;
}

.responsiveImage {
  background-size: cover;
  width: 70%;
  height: auto;
}

.center {
  display: block;
  margin: auto;
}

.basicTemplate {
  padding: 50px 25px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.templateBox {
  width: 100%;
  background: #111111;
  border-radius: 16px;
  padding: 5rem;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "roboto";
}

.workCard {
  transition: all 0.2s ease-in-out;
}

.workCard:hover {
  transform: scale(1.05);
}

.heading::after {
  content: "";
  height: 3px;
  position: absolute;
  background: rgb(216, 174, 97);
  background: -moz-linear-gradient(
    90deg,
    rgba(216, 174, 97, 1) 0%,
    rgba(158, 125, 63, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(216, 174, 97, 1) 0%,
    rgba(158, 125, 63, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(216, 174, 97, 1) 0%,
    rgba(158, 125, 63, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8ae61",endColorstr="#9e7d3f",GradientType=1);
  color: red;
  font-weight: bold;
  width: 140px;
  margin-bottom: 30px;
}

.para {
  color: rgb(165, 165, 165);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2.5rem;
  justify-content: center;
}

.gap-1half {
  gap: 1.5rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
}

.img_profile {
  grid-column: span 4 / span 4;
}

.p_info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.6rem;
}

.bg_icon {
  background-color: #212425;
  padding: 16px;
  border-radius: 8px;
}

.pointer {
  cursor: pointer;
}

.pink {
  color: #fd7590;
}
.blue {
  color: #6ab5b9;
}
.purple {
  color: #c17ceb;
}
.red {
  color: #df4848;
}

.border_data {
  border: 1px solid #212425;
  padding: 15px 20px;
  border-radius: 12px;
}

.infoHead {
  margin-bottom: 1px;
  font-size: 14px;
  color: gray;
}
.data_val {
  font-weight: bold;
}

.imageProfile {
  object-fit: cover;
  border-radius: 35px;
  height: 400px;
  width: 263px;
  transition: transform 0.3s ease-out;
  margin-top: 30px;
}

.imageProfile:hover {
  transform: translate(0, -5px);
}

.shadow-up {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.grow{
  transition: 1s ease;
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.bg_badge{
  background: #c8c8c8;
  padding: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.bg_badge_cont{
  background: #141414;
  padding: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contentBox {
  grid-column: span 8 / span 8;
  margin-top: 30px;
}

.marginT_5 {
  margin-top: 5rem;
}

.contactCard {
  padding: 30px;
  background: rgb(33, 36, 37);
  border-radius: 0.75rem;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}
.contactCard:hover {
  transform: translate(0, -5px);
}
.contactIcon {
  max-width: 100%;
  background-size: cover;
  height: max-content;
}

.contactHead {
  font-size: 1.25rem;
  font-weight: 600;
}

.contactContainer {
  column-gap: 5rem;
}

.rightPanel {
  width: 70%;
}

.contactData {
  --tw-text-opacity: 1;
  color: rgb(166 166 166 / var(--tw-text-opacity));
  font-size: 1.125rem;
}
.details > a {
  text-decoration: none;
}

.resumeSection {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.resumeSection.activeDiv {
  opacity: 1;
  height: auto;
  margin-top: 5rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
}

.ant-tabs-tab {
  color: #fff !important;
}

.ant-tabs-ink-bar {
  /* background: none !important; */
  background: #6ab5b9 !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #6ab5b9 !important;
  font-weight: 500;
}

.capitalize{
  text-transform: capitalize;
  text-wrap: nowrap;
}


.skillSetContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 4px;
  grid-auto-flow: row;
  /* place-items: center; */
}

:where(.css-dev-only-do-not-override-k7429z).ant-pagination
  .ant-pagination-item-active {
  background-color: #111111 !important;
  color: #ffff;
  border-radius: 50%;
  border-color: #ffff !important;
}

:where(.css-k7429z).ant-ribbon .ant-ribbon-text {
  color: #393939 !important;
  background: #d8ae61 !important;
  font-weight: bold !important;
}
:where(.css-dev-only-do-not-override-k7429z).ant-ribbon .ant-ribbon-text {
  color: #393939 !important;
  background: #d8ae61 !important;
  font-weight: bold !important;
}

:where(.css-k7429z).ant-pagination .ant-pagination-item-active {
  background-color: #111111 !important;
  color: #ffff !important;
  border-radius: 50%;
  border-color: #ffff !important;
}

.filter {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.ant-select-selector {
  padding: 10px 3px !important;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #ffff;
  font-weight: bold;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 2rem;
  border-radius: 15px;
}

.return {
  color: #393939 !important;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease;
}

.goTo {
  font-weight: bold;
  background-color: rgb(5, 95, 5);
  border: none;
  transition: all 0.2s ease;
}

.ant-progress-text{
  color: white !important;
}

.progress_text {
  margin-bottom: 0 !important;
  font-size: 14px;
  text-transform: capitalize;
  /* color: #df4848; */
  font-weight: bold;
  text-shadow: 2px 1px #000;
  text-decoration: overline;
}

.return:hover {
  background-color: #fd7590 !important;
  border: none;
  translate: 0 -3px;
}

.goTo:hover {
  font-weight: bold;
  border: none;
  translate: 0 -3px;
  background-color: rgb(9, 142, 9) !important;
}

.ribbonFont {
  color: #111111;
  font-weight: bold;
  background-color: #d8ae61 !important;
}

.m_auto {
  display: block;
  margin: auto;
  -webkit-filter: drop-shadow(3px 3px 5px #000);
  filter: drop-shadow(3px 3px 4px #000);
}

/* .skillContainer{
} */

.left_panel,.right_panel{
  grid-column: span 6 / span 6;
}

.cardImage{
  height: 16rem !important;
}

@media (max-width: 1100px) {
  .parent{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .contentBox {
    grid-column: span 12 / span 12;
    margin-top: 30px;
    display: grid;
  }
  .skillSetContainer{
    grid-template-columns: repeat(4 , auto);
  }
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .left_panel,.right_panel{
    grid-column: span 12 / span 12;
    margin-bottom: 2rem;
  }
  .grid-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .field_resume {
    margin-top: 20px;
  }
  .imageProfile {
    display: block;
    margin: auto;
    margin-top: 30px;
  }
  .img_profile {
    grid-column: span 12 / span 12;
  }
}
@media (max-width: 900px) {
  .skillSetContainer{
    grid-template-columns: repeat(3 , auto);
  }
}
@media (max-width: 850px) {
  .parent{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .cardImage{
    height: auto !important;
  }
}

@media (max-width: 768px) {
  .imageProfile {
    object-fit: fill;
    border-radius: 20px;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 40px;
    height: 100%;
    margin-bottom: 40px;
  }

  .skillSetContainer{
    grid-template-columns: repeat(2 , auto);
  }
  
  /* .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  } */
  .filter {
    width: 100% !important;
    font-size: 12px;
  }
  .grid {
    display: block !important;
  }
  .p_info {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .templateBox {
    padding: 2rem;
  }
  .data_val {
    font-size: 13px;
    font-weight: normal;
  }
  .skillSetContainer{
    grid-template-columns: repeat(1 , 1fr);
  }
  .background{
    padding: 0 !important;
  }
  .border_data{
    width: 100% !important;
    text-align: left !important;
  }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (max-width: 400px) {
  .templateBox {
    padding: 1rem;
  }
  .background {
    padding: 0;
  }
}
/* LOADING */

.loadingContainer {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 175px;
  overflow: hidden;
  width: 100%;
}

/**
  * Load man - gaming inspired loader
  *
  * @author jh3y - jheytompkins.com
*/
.load-man {
  -webkit-animation: load-man-travel 1.2s infinite linear;
  animation: load-man-travel 1.2s infinite linear;
  background: repeating-linear-gradient(
    90deg,
    rgba(158, 125, 63, 1),
    rgba(158, 125, 63, 1) 5%,
    transparent 5%,
    transparent 35%
  );
  height: 10px;
  left: 50%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 200px;
  /**
    * Our pseudo elements create the head pieces
    *
    * They are near identical minus subtle differences in animation and border
    * styling
  */
  /**
  * The top head piece
  */
  /**
  * The bottom head piece
  */
}
.load-man:after,
.load-man:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  border: 25px solid rgb(216, 174, 97);
  border-radius: 100%;
  margin-top: -25px;
}
.load-man:before {
  --close: -90;
  -webkit-animation: load-man-chomp 0.35s infinite linear;
  animation: load-man-chomp 0.35s infinite linear;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.load-man:after {
  --close: 0;
  -webkit-animation: load-man-chomp 0.35s infinite linear;
  animation: load-man-chomp 0.35s infinite linear;
  border-right-color: transparent;
  border-top-color: transparent;
}

@-webkit-keyframes load-man-travel {
  to {
    background-position: -200px 0;
  }
}

@keyframes load-man-travel {
  to {
    background-position: -200px 0;
  }
}

@-webkit-keyframes load-man-chomp {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(calc(var(--close) * 1deg));
    transform: rotate(calc(var(--close) * 1deg));
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes load-man-chomp {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(calc(var(--close) * 1deg));
    transform: rotate(calc(var(--close) * 1deg));
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.cardBtn {
  color: #765c2a !important;
  background-color: #d8ae61;
  font-weight: bolder;
}
.cardBtn:hover {
  background-color: #d8ae61 !important;
  color: #ffff !important;
  font-weight: bolder;
}

.marginTop24 {
  margin-top: 45rem;
}
